body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
.l-cards-list {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
